<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZCGSeekCardForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZCGSeekCardForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
  </runtime>
  <userSettings>
    <ZCGSeekCardForm.Properties.Settings>
      <setting name="BgImage" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="FontImage" serializeAs="String">
        <value>空</value>
      </setting>
      <setting name="ColorImage" serializeAs="String">
        <value>黑色</value>
      </setting>
      <setting name="IsMax" serializeAs="String">
        <value>False</value>
      </setting>
    </ZCGSeekCardForm.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ZCGSeekCardForm.Properties.Settings>
      <setting name="Name" serializeAs="String">
        <value>Bglmage</value>
      </setting>
    </ZCGSeekCardForm.Properties.Settings>
  </applicationSettings>
</configuration>
